.project__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
}

.project__item {
  background: var(--color-bg-variant);
  border-radius: 0.5rem;
  border: 1px solid transparent;
  transition: var(--transition);
  height: auto;
  user-select: none;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.7) !important;

  &:hover {
    transform: translateY(-12px);
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.7) !important;
  }

  .project__item-image {
    border-radius: 0.5rem 0.5rem 0 0;
    overflow: hidden;
    aspect-ratio: 16/10;
  }

  .project__content {
    display: block;
    padding: 0 1.5rem;

    h3 {
      margin: 1.2rem 0 0;
    }

    p {
      font-size: 0.8rem;
      margin: 0.4rem 0 1rem;
      color: var(--color-light);

      span {
        color: var(--color-primary);
      }
    }

    .project__content-icons {
      display: flex;
      flex-wrap: wrap;
      column-gap: 12px;
      font-size: 1.8rem;
      margin-bottom: 0.7rem;
    }

    .project__content-cta {
      display: flex;
      gap: 1rem;
      margin-bottom: 2rem;
    }
  }
}

.project__other {
  margin-top: 2rem;
  text-align: center;
  color: var(--color-light);
}

@media screen and (max-width: 1024px) {
  .project__container {
    width: var(--container-width-md);
    grid-template-columns: repeat(2, 1fr);
  }

  .project__item {
    &:hover {
      transform: translateY(0);
    }

    .project__content {
      padding: 0 1.2rem;

      .project__content-icons {
        column-gap: 10px;
        font-size: 1.5rem;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .project__container {
    grid-template-columns: repeat(1, 1fr);
  }
}
