.offer__container {
  display: column;
  columns: 2;
  gap: 10%;

  & > * {
    break-inside: avoid;
  }

  .grid__divider {
    height: 2rem;
  }
}

.offer__grid {
  height: max-content;
  color: var(--color-light);
  border-radius: 2rem;
  padding: 1.7rem 0 1.7rem 2rem;
  background: linear-gradient(to right, var(--color-bg-variant), transparent);
  transition: var(--transition);
  cursor: default;

  &:hover {
    transform: scale(1.05);
  }

  .grid__head {
    display: flex;
    gap: 0.7rem;
    align-items: flex-end;

    .grid__head-icon {
      font-size: 2rem;
      color: var(--color-primary);
    }

    h2 {
      text-align: start;
      color: var(--color-primary);
      margin-bottom: 0.7rem;
    }
  }

  .grid__content {
    color: var(--color-white);
    margin-bottom: 0.7rem;
  }
}

@media screen and (max-width: 1024px) {
  .offer__container {
    width: var(--container-width-md);
    gap: 4rem;
    row-gap: 3rem;
  }

  .offer__grid {
    border-radius: 1.5rem;
    padding: 1rem 0 1rem 1.5rem;

    .grid__head {
      align-items: center;
      gap: 1rem;

      .grid__head-icon {
        font-size: 3rem;
      }

      h2 {
        line-height: 1.7rem;
      }
    }

    .grid__caption {
      font-size: 0.8rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .offer__container {
    display: grid;
    grid-template-columns: 1fr;

    .grid__divider {
      display: none;
    }
  }

  .offer__grid {
    height: auto;
    padding: 1.2rem;
    background: linear-gradient(
      to bottom,
      var(--color-bg-variant),
      transparent 90%
    );
    text-align: center;

    &:hover {
      transform: scale(1) translateY(-12px);
    }

    .grid__head {
      flex-direction: column;
      gap: 0;

      .grid__head-icon {
        line-height: 3rem;
      }

      h2 {
        text-align: center;
        margin-bottom: 1rem;
      }
    }
  }
}
