.experience__container {
  display: grid;
  grid-template-columns: 50% 45%;
  gap: 5%;
}

.experience__skills {
  display: flex;
  flex-wrap: wrap;
  gap: 1.7rem;

  .skills__icon {
    font-size: 3rem;
    line-height: 0;
    padding: 1.2rem;
    border-radius: 1rem;
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    transition: var(--transition);

    &:hover {
      background: transparent;
      border-color: var(--color-primary-variant);
      cursor: default;
    }
  }
}

.experience__works {
  .work__container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 1.5rem;

    .work__container-year {
      h3 {
        font-size: 1.5rem;
        font-weight: 900;
        color: var(--color-primary);
      }
    }

    .work__container-content {
      padding-top: 0.25rem;

      .work__item {
        margin-bottom: 1.7rem;

        div {
          font-size: 0.8rem;
          color: var(--color-light);
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .experience__container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .experience__skills {
    gap: 1.2rem;
    justify-content: center;

    .skills__icon {
      font-size: 2rem;
    }
  }

  .experience__works {
    padding: 0 5rem;
  }
}

@media screen and (max-width: 600px) {
  .experience__container {
    width: var(--container-width-md);
  }

  .experience__skills {
    gap: 1rem;

    .skills__icon {
      font-size: 1.7rem;
      padding: 1rem;
    }
  }

  .experience__works {
    padding: 0;

    .work__container {
      gap: 2.7rem;
    }
  }
}

/* #skills__tooltip styles */

.tippy-box[data-animation="fade"][data-state="hidden"] {
  opacity: 0;
}
[data-tippy-root] {
  max-width: calc(100vw - 10px);
}

.tippy-box {
  position: relative;
  background-color: var(--color-light);
  color: var(--color-bg);
  border-radius: 5px;
  font-size: 14px;
  line-height: 1.4;
  white-space: normal;
  outline: 0;
  transition-property: transform, visibility, opacity;
}

.tippy-content {
  position: relative;
  padding: 0.25rem 0.7rem;
  z-index: 1;
}
