.certificate__container {
  display: flex;
  align-items: center;
  margin-bottom: 12rem;

  // &::before {
  //   content: "";
  //   position: absolute;
  //   left: 0;
  //   height: 100%;
  //   width: 100px;
  //   background: linear-gradient(
  //     to left,
  //     rgba(17, 17, 17, 0) 0%,
  //     rgba(17, 17, 17, 0.3) 50%,
  //     #111 100%
  //   );
  //   z-index: 2;
  //   pointer-events: none;
  // }

  // &::after {
  //   content: "";
  //   position: absolute;
  //   right: 0;
  //   height: 100%;
  //   width: 100px;
  //   background: linear-gradient(
  //     to right,
  //     rgba(17, 17, 17, 0) 0%,
  //     rgba(17, 17, 17, 0.3) 50%,
  //     #111 100%
  //   );
  //   z-index: 2;
  //   pointer-events: none;
  // }

  .certificate__item {
    position: relative;
    width: 100%;

    .certificate__title {
      --scale: 1;
      backdrop-filter: blur(15px);
      border-radius: 1rem;
      width: 80%;
      padding: 1rem 1.7rem;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%) scale(var(--scale));
      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.7) !important;
      transition: var(--transition);

      &:hover {
        --scale: 1.05;
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.7) !important;
        cursor: default;
      }

      h4 {
        color: var(--color-bg);
      }

      small {
        color: var(--color-primary);
      }
    }
  }

  .swiper-wrapper {
    padding-bottom: 2rem;
    align-items: center;
  }

  .swiper-pagination-bullet {
    background: var(--color-white);
  }

  .swiper-pagination-bullet-active {
    background: var(--color-primary);
  }
}

@media screen and (max-width: 1024px) {
  .certificate__container {
    width: var(--container-width-md);
    margin-bottom: 0;
  }
}

/* modal pop-up styles */

.modal__container-cert {
  width: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1024px) {
  .modal__container-cert {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .modal__container-cert {
    width: var(--container-width-sm);
  }
}
