.interest__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  & > div {
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    transition: var(--transition);

    &:hover {
      cursor: default;
      transform: translateY(-12px);
      box-shadow: 0 5px 12px rgba(0, 0, 0, 0.7) !important;
    }

    h3 {
      text-align: center;
      margin-bottom: 2rem;
      color: var(--color-primary);
    }
  }
}

.interest__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;

  .interest__details {
    display: flex;
    gap: 1rem;

    .interest__details-icon {
      margin-top: 6px;
      color: var(--color-primary);
    }

    & > div {
      small {
        color: var(--color-light);
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .interest__container {
    grid-template-columns: 1fr;
    padding: 0 4rem;
    margin-bottom: 6rem;

    & > div {
      &:hover {
        border: 1px solid transparent;
        background: var(--color-bg-variant);
        transform: translateY(0);
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .interest__container {
    width: var(--container-width-md);
    padding: 0;

    & > div {
      padding: 2rem 1.4rem;
    }
  }
}
