.isMobile {
  display: none;
}

@media screen and (max-width: 1024px) {
  .isDesktop {
    display: none;
  }

  .isMobile {
    display: block;
  }
}

/* #home_first desktop styles */

#home_first-d .intro__container {
  display: grid;
  grid-template-columns: 35% 55%;
  gap: 10%;
}

#home_first-d .intro__cards {
  display: grid;
  gap: 1rem;
}

#home_first-d .intro__card {
  background: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  transition: var(--transition);
  height: fit-content;
}

#home_first-d .intro__card:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
  transform: translateX(20px);
}

#home_first-d .intro__card div {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

#home_first-d .intro__icon {
  color: var(--color-primary);
  font-size: 1.4rem;
}

#home_first-d .intro__card h5 {
  font-size: 0.95rem;
}

#home_first-d .small__title {
  display: block;
  font-size: 0.8rem;
  color: var(--color-light);
}

#home_first-d .small__icons {
  display: flex;
  font-size: 1.8rem;
  color: var(--color-light);
}

#home_first-d .small__icons small {
  padding-top: 0.7rem;
  font-size: 0.8rem;
  color: var(--color-light);
}

#home_first-d .intro__content > h2,
#home_first-d .intro__content > h5 {
  color: var(--color-light);
}

#home_first-d .intro__content > h2 {
  color: var(--color-primary);
  margin-bottom: 3rem;
}

#home_first-d .intro__content p {
  margin: 1rem 0 2.6rem;
  color: var(--color-light);
}

#home_first-d .intro__content-cta {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

#home_first-d .qoute {
  margin-top: 2rem;
  font-size: 2.5rem;
  color: var(--color-primary);
  transform: scaleX(-1);
}

/* #home_first mobile styles */

#home_first-m .intro__container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 4rem;
}

#home_first-m .intro__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

#home_first-m .intro__card {
  background: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  transition: var(--transition);
  height: fit-content;
}

#home_first-m .intro__card:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

#home_first-m .intro__card div {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

#home_first-m .intro__icon {
  color: var(--color-primary);
  font-size: 1.4rem;
}

#home_first-m .intro__card h5 {
  font-size: 0.95rem;
}

#home_first-m .intro__card small {
  font-size: 0.8rem;
  color: var(--color-light);
}

#home_first-m .small__icons {
  display: flex;
  font-size: 1.2rem;
  color: var(--color-light);
}

#home_first-m .small__icons small {
  padding-top: 0.4rem;
  font-size: 0.6rem;
  color: var(--color-light);
}

#home_first-m .intro__content > h2,
#home_first-m .intro__content > h5 {
  color: var(--color-light);
}

#home_first-m .intro__content > h2 {
  color: var(--color-primary);
  margin-bottom: 3rem;
}

#home_first-m .intro__content p {
  margin: 1rem 0 2.6rem;
  color: var(--color-light);
}

#home_first-m .intro__content-cta {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

#home_first-m .qoute {
  margin-top: 0;
  font-size: 2.5rem;
  color: var(--color-primary);
  transform: scaleX(-1);
}

@media screen and (max-width: 600px) {
  #home_first-m .intro__container {
    width: var(--container-width-md);
  }

  #home_first-m .intro__cards {
    gap: 1rem;
  }

  #home_first-m .intro__content {
    text-align: center;
  }

  #home_first-m .intro__content-cta {
    justify-content: center;
  }

  #home_first-m .intro__cards {
    grid-template-columns: 1fr;
  }
}
