@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg: #111;
  --color-bg-variant: #222;
  --color-primary: #8028a2;
  --color-primary-variant: #9d68b8;
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

  --transition: all 400ms ease;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
  // background-image: url("./assets/bg-texture.png");
}

/* general styles */

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

section {
  padding-top: 4rem;
  margin-bottom: 7rem;

  h2,
  h5 {
    text-align: center;
    color: var(--color-light);
  }

  h2 {
    color: var(--color-primary);
    margin-bottom: 3rem;
  }
}

.text-align {
  color: var(--color-light);
}

a {
  color: var(--color-primary);
  transition: var(--transition);

  &:hover {
    color: var(--color-white);
  }
}

button {
  font-family: "Poppins", sans-serif;
  background: transparent;
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);

  &:hover {
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
  }
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.footer__atloading {
  display: none;
}

/* media queries (medium) */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    padding-top: 2rem;
    margin-bottom: 5rem;
  }
}

/* media queries (small) */

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  section {
    h2 {
      margin-bottom: 2rem;
    }
  }
}

/* tippy.js tooltip styles */

.tippy-box[data-animation="fade"][data-state="hidden"] {
  opacity: 0;
}
[data-tippy-root] {
  max-width: calc(100vw - 10px);
}

.tippy-box {
  position: relative;
  background-color: var(--color-light);
  color: var(--color-bg);
  border-radius: 5px;
  font-size: 14px;
  line-height: 1.4;
  white-space: normal;
  outline: 0;
  transition-property: transform, visibility, opacity;
}

.tippy-content {
  position: relative;
  padding: 0.25rem 0.7rem;
  z-index: 1;
}
